
html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(255, 255, 255);
  font-family: "Open Sans", sans-serif;
}

input{
  margin: 10px;
  width: 100%;
  border: none;
  font-size: 18px;
  padding: 5px;
  border-radius: 3px;
  border-bottom: black solid 1px;
}

textarea{
  width: 100%;
  margin: 10px;
  border: none;
  font-size: 18px;
  border-radius: 3px;
  border-bottom: black solid 1px;
}

li{
  list-style: bullets;
  padding: 0;
}

button{
  margin: 10px;
  padding: 15px;
  width: 100px;
  background-color: #b42c14;
  color: white;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition-duration: 0.3s;
  opacity: 0.7;
  
}

button:hover{
  opacity: 1;
}

button:active{
  box-shadow: 0 5px;
  transform: translateY(4px);
  opacity: 1
}

a{
  text-decoration: none;
}

/* Color Scheme */
header {
  height: 120px;
  display: flex;
  align-items: center;
  background-color: #00308F;
  /* background-color: #232f3e; */
  
}

header .site-logo{
  color: white;
  margin-right: auto;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 900;
  padding-right: 50px;
}

header a{
  text-decoration: none;
  font-weight: 600;
  padding: 5px 20px;
  color: white;
}

header a:hover{
  text-decoration: underline;
}

/* Color Scheme */
footer{
  height: 74px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  /* background-color: #232f3e; */
  background-color: #00308F;
}

.site-wrapper{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.revolving-container{
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin-top: 25px;
  text-align: center;
}

.home-container{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.home-img-container{
  width: 100%;
  position: relative;
  text-align: center;
  overflow: hidden;

}
.home-pic{
  /* width: 80%; */
  width: 100%;
  height: 80vh;
  margin-left: 14%;
  object-fit: cover;
  /* object-fit: fill; */
  /* object-position:  (17%,17%); */
  overflow: hidden;
}

/* Color Scheme */
.overlay{
  background-color: #3e8ede62;
  /* background-color: #5B79a062; */
  width: 100%;
  height: 80vh;
  
}

/* Color Scheme */
.test1{
position: absolute;
background-color:#3E8EDE;
/* background-color:#5B79A0 ; */
top: 0;
left: 0px;
height: 80vh;
width: 750px;
transform:skew(20deg) translate(-20%,0);
}

.home-title{
  position:absolute;
  top: 160px;
  left: 150px;
  font-size: 96px;
  color: white;
  font-weight: 950;

}

.img-statement{
  position: absolute;
  bottom: 250px;
  left: 60px;
  color: white;
  font-size: 36px;
  width: 800px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  font-weight: 700;
}

.home-statement{
  line-height: 1.6;
  text-align: center;
  width: 65%;
  margin-top: 50px;
  font-size:36px;
  color: #232f3e;
}

.home-start {
  color: 	#ff9900;
  margin-left: 5px;
  cursor: pointer;
}



.home-start:hover{
  text-decoration: underline;
  color: #ff9900;
  transition: 0.2s;
  opacity: 1;
}

.home-employees{
  display: flex;
  align-items: center;
  justify-content: center;
}

.employee-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: transform 250ms;
}

.employee-container:hover{
  transform:scale(1.2);
  
}

.home-employees-pic{
  height: 200px;
  width: 200px;
  border-radius: 50%;
  border: none;
  margin: 15px;
  margin-right: 25px;
  object-fit: cover;
}

#holmes{
  object-position: 20% top;
}
#julia{
  object-position: 0px -20px ;
}

.about-page-container{
  width: 100%;
  height: 100%;
}
.about-background{
  height: 40vh;
  width: 100%;
  display: flex;
  align-items: center;
  background-size: cover;
  padding-bottom: 30px;
  background-position:  center; 
  margin-bottom: 50px;
  position: relative;
}
.about-overlay{
  background-color: #5B79a062; 
  width: 100%;
  height:40vh;
  position: absolute;
  top: 0;
  padding-bottom: 30px;
 
}

.about-employee-pic{
  height: 800px;
  margin-right: 25px;
  border-radius: 20px;
 

}
.about-story{
display: flex;
justify-content: center;
align-items: center;
}
.story-tag{
  font-size: 32px;
  font-style: italic;
  color:#b42c14;
}


.story-text{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 1.8;
  font-size: 24px;
  width: 45%;

  padding: 25px;
  

}

.story-icon{
  width: 50px;
  height:50px;
  color: #146eb4;
}

/* Color Scheme */
.team-container{
  display: flex;
  width: 100%;
  justify-content: center;
  background-color: #3E8EDE;
  /* background-color: #5B79A0 ; */
  padding-top: 8%;
}
.mission-title{
  font-size: 36px;
  
}
.team-mission{
width: 30%;
height: 25%;
padding: 20px;
text-align: center;
font-size: 20px;
color: white;
background-color: #00308f94;
border: 6px solid #00308F;

}
.team-button{
  width: 150px;
}
.team-pics{
  display: flex;
  flex-wrap: wrap;
  width: 60%;
  margin-left: 5%;
  
  
}

.pic-container{
  height: 550px;
  width: 300px;
  margin-right: 15px;
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  text-align: center;
  overflow: hidden;
  background-color: rgb(255, 255, 255);
  padding: 10px;
  border: 2px solid #00308F;

}

.mgmt-pic{
  height:300px;
  width:300px;
 object-fit: cover;
 object-position:top ;
  
}

.mgmt-list{
  list-style: none;
  padding: 0;

}

.mgmt-list-item{
  list-style: none;
  padding: 0;
}

#mgmt-name{
font-size: 32px;
}
#mgmt-position{
margin-bottom: 15px;
}
#mgmt-desc{

}
.overlay{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  /* background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255,0,0,1)); */
}



.career-container{
  height: 100%;
  width: 100%;
}

/* Color Scheme */
.career-main {
  height: 80vh;
  width: 100%;
  display: flex;
  justify-content:space-evenly;
  align-items: center;
  background-color: #3E8EDE;
  /* background-color: #5B79A0; */
  color: white;
  margin-bottom: 2%;
}

/* .career-main li{
  list-style: none;
}
.career-main h4{
  color: #b42c14;
  width: 500px;
  margin: 0; 
  padding: 5px;
  font-weight: 900;
  font-size: 18px;
  margin-inline-start: 10px;
  margin-inline-end: 50px;
  border-bottom: black solid 1px;
} */


.career-statement{
  width: 40%;
  font-size: 36px;
  line-height: 1.8;
  margin: 0;
  padding: 25px;
  border-radius: 10px;
  font-weight: 900;
}


/* .main-text{
  width: 32%;
  background-color: rgba(255, 255, 255, 0.849);
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  margin-top: 50px;
  margin-bottom: 50px;
  padding-top:25px;
 
}

.main-text h3{
  text-align: center;
  font-size: 1.6rem;
  padding: 0;
  margin: 0;
}

.main-text ul{
  text-indent: 5px;
  height: 30%;
  

}
.main-footer{
  background-color: #b42c14;
  color: white;

}

.station-list{
  list-style: none;
}

.main-text li{
padding: 5px;
list-style: circle;

}

.location-marker{
  margin-right: 5px;
  color: #146eb4;
}

.station-list li{
  list-style: none;
} */

.career-pic{
  width:600px;
  height: 850px;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.packages{
  height: 750px;
  margin: 5px;
  border-radius: 15px;;
}


.career-hero-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.job-detail{
  margin: 15px;
  line-height: 1.6;
  min-width: 650px;
  max-width: 651px;
  height: auto;
  min-height: 300px;
  box-shadow: 0 3px 2px 2px rgb(62, 60, 60);
  margin-top: 5%;
  font-size: 20px;
 
}

/* Color Scheme */
.job-detail h4{
  text-align: center;
  background-color:#00308F;
  color: white;
  padding: 0;
  margin: 0px;
}

.button-container{
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.apply-button{
  background-color: #ff9900;
  color: white;
  width: 200px;
  transition-duration: 0.3s;
  opacity: 0.7;
}



.bold-text{
  color: #b42c14;
  font-weight: 900;
}

.line{
  width: 50%;
  height: 1px;
  background-color: #232f3ea8 ;
  margin: 0 auto;
  margin-top:5%;
  margin-bottom: 5%;
}

.contact-container{
  text-align: center;
  width: 400px;
  font-weight: 900;
}
.contact-form{
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 24px;
}


.faqs{
  width: 100%;
  max-width: 600px;
}

.faqs h2{
  text-align: center;
}

.faqs .faq{
  margin: 15px;
  padding: 15px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0px 2px 2px rgba(0,0,0,0.1);
}

.faqs .faq .faq-question{
  position: relative;
  font-size: 20px;
  padding-right: 80px;
  transition: all 0.4s ease;
}

.faqs .faq .faq-question::after {
  content: "+";
  position: absolute;
  top: 50%;
  right: 0px;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  transition: all 0.2s ease;
}

.faqs .faq .faq-answer{
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: all 0.2s ease;
}

.faqs .faq.open .faq-question{
  margin-bottom: 15px;
}

.faqs .faq.open .faq-question::after {
  content: "-";
}

.faqs .faq.open .faq-answer{
  opacity: 1;
  max-width: 1000px;
}

.social-list{
  display:flex;
  /* transform: translate(-50%, -50%); */
}

.social-list-item{
  width: 50px;
  height: 50px;
  background-color: white;
  border-radius: 50%;
  display: block;
  
}